{
    "presets":[
         "env", "import-export"
    ],
    "plugins": [
        "transform-async-to-generator",
        [
            "transform-runtime", {
                "polyfill": false,
                "regenerator": true
            }
        ]
    ]
}